<h1>Customers</h1>
<a class="btn btn-primary pull-right " [routerLink]="['/customers/add']" role="button">Add Customer</a>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers$ | async">
                    <td>{{customer.id}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.accountBalance}} </td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['/customers/edit', customer.id]" role="button">Edit Customer</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" (click)="onDelete(customer.id)">
                            Delete Customer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>